*{
  box-sizing: border-box;
}


main{
  width: 100vw;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.header{
  text-align: center;
  width: 100%;
  height: 20%;
  border: 1px solid lightgrey;

}