*{
  box-sizing: border-box;
}


main{
  width: 100vw;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.header{
  text-align: center;
  width: 100%;
  height: 20%;
  border: 1px solid lightgrey;

}

*{
  box-sizing: border-box;
}


.Main{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.sideBar{
  display:flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
 
  border-right: solid 1px lightgrey;

}





.mainSection, .note{
  width: 80%;
  

}